.category-container button svg {
    font-size: 30px;
}

.category-container button h6 {
    font-size: 10px;
}

@media screen and (max-width:768px) {
    .category-container {
        overflow-x: scroll;
    }

}