.image-prof {
    -webkit-box-shadow: -1px 1px 24px -1px #dbdbdb;
    box-shadow: -1px 1px 24px -1px #dbdbdb;
    background-color: #dbdbdb;
    padding: 20px;
    border-radius: 20px;
    height: 250px;
}

.info1,
.info2 {
    padding: 10px;
    font-size: 20px;
}

form .form-control {
    border: 1px solid lightgray;
    width: 50%;
}