.trips-box {
    border: 1px solid lightgray;
    max-height: 20rem;
}

.trips-text svg {
    font-size: 40px;
}

.trips-text p {
    color: gray;
}

.trips-text button {
    width: 40%;
    padding: 12px;
    font-weight: bold;
    background: linear-gradient(#F62F58, #DE1263);
    border: none;
}

.img-cont {
    padding: 0;
}

.img-cont .trip-image {
    height: 265px;
    width: 100%;
    object-fit: cover;
}

.trip-container {
    border: 1px solid lightgray;
    border-radius: 20px;
}

.trip-container img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.row-trip {
    position: relative;
}

.trip-container .delete-btn {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 40px;
    color: white;
    padding: 0;
}

.fav-box {
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.fav-box button {
    width: 20%;
    padding: 12px;
    font-weight: bold;
    background: linear-gradient(#F62F58, #DE1263);
    border: none;
}