.logIn {
    margin-left: 15%;
    margin-right: 15%;
    max-width: 60%;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.logIn form input {
    border: 1px solid lightgray;
    padding: 12px;
    width: calc(100% - 26px);
}

.logIn .header {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.btn-logIn {
    background: linear-gradient(#FF385D, #F22A5F);
    border: none;
    width: 100%;
}

.signIn-btn {
    border: 1px solid #F22A5F;
    color: #F22A5F;
}

.signIn-btn:hover {
    background-color: #F22A5F;
    color: white;
}