.info h5,
h6 {
    font-size: 15px;
}

.info h6 {
    color: gray;
}

.img-insertion {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.carousel-control-next {
    right: 10%;
}

.upper-text {
    position: absolute;
    top: 5%;
    left: 8%;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
}


.add-favorites {
    position: absolute;
    right: 17%;
    top: 3%;
    font-size: 25px;
    color: white;
    transition: transform 1s;
    z-index: 10;
    cursor: pointer;
}

.add-favorites:hover {
    transform: scale(1.2);
}